services:
  - type: web
    name: nambikkai-backend
    env: node
    region: ohio
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: FRONTEND_URL
        value: https://nambikkai.onrender.com
    autoDeploy: true